/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* Styles begin here */
h1 {
text-align: center; 
font-family: 'montserrat', sans serif; 
font-size: 30px;  
font-weight: 700;
color: #354e23; 
}
h2 {
text-align: center; 
font-family: 'montserrat', sans serif; 
font-size: 20px; 
color: #354e23;
}
h3 {
font-family: 'poly';  
font-size: 20px; 
color: #0f0f0f;
padding-top: 15px;
}
p {font-family: 'poly'; 
font-size: 14px; 
color: #0f0f0f; 
margin: 20px 20px 20px 20px;
}

body {
background: #0f0f0f;
background-position: center;
background-attachment: fixed;
background-size: cover;
}


#default-img {
background: url('http://i306.photobucket.com/albums/nn258/lwcstyling/creek-217_1920.jpg');
background-position: center;
background-attachment: fixed;
background-size: cover;
}
#main {
margin: 0px 0px 150px 0px;
/* background: rgba(0, 0, 0, 0.8);  */
padding: 25px 0px 0px 0px;
height: 100px;
border-top: 25px solid #0f0f0f;
background: -webkit-linear-gradient(#0f0f0f, transparent); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#0f0f0f, transparent); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#0f0f0f, transparent); /* For Firefox 3.6 to 15 */
background: linear-gradient(#0f0f0f, transparent); /* Standard syntax (must be last) */
}

#logo {
background: #000000;
float: left;
height: 178px;
margin: 0px 15px 15px 160px;
-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .3);
-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .3);
box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .3);
}

#logo a img:hover {
-webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .4);
-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .4);
box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .4);
}

.sitenav {
float: left;
padding-top: 0px;
margin-right: 160px;
}
.navitem {
font-family: 'montserrat', sans serif;
font-weight: 700;
text-transform: uppercase;
text-align: left;
font-size: 18px;
display: inline;
padding: 90px 15px 0px 90px;
}
.navitem a {
text-decoration: none;
color: #d3ebce;
}

.navitem a:hover {
text-decoration: underline;
color: #ffffff;
}

/* Homepage */

#intro {background: rgba(246, 254, 237, 0.80);
margin: 0px 160px 50px 160px;
padding: 40px 20px 40px 20px;
min-width: 350px;
}

#learnmore {
text-decoration: none;
font-family: 'poly';
font-style: italic;
font-size: 20px;
color: #0f0f0f;
}

#hide-bio {
text-decoration: none;
font-family: 'poly'; 
font-style: italic;
font-size: 20px; 
color: #0f0f0f;
}

.moreinfo {
font-family: 'poly'; 
font-size: 20px; 
text-align: left; 
color: #0f0f0f; 
}

/* About Page */

#about {
height: 550px;
max-width: 960px;
margin-right: auto;
margin-left: auto;
}

.bios {
background: rgba(246, 254, 237, 0.9);
float: left;
margin: 0px 10px 40px 10px;
width: 300px;
/* height: 475px; */
display: block;
padding-top: 20px;
}

/* Services Page */

#services {background: rgba(246, 254, 237, 0.80);
margin: 0px 160px 50px 160px;
padding: 40px 20px 40px 20px;
}

#services ul li {
color: #0f0f0f;
font-family: 'poly', serif;
}

/* Gallery Slideshow Page */


/* Contact Page */

/* Footer styles */

#footer {
margin: 100px 0px 0px 0px;
padding: 15px 0px 0px 0px;
text-align: center;
height: 200px;
background: -webkit-linear-gradient(transparent, #0f0f0f); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(transparent, #0f0f0f); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(transparent, #0f0f0f);  /* For Firefox 3.6 to 15 */
background: linear-gradient(transparent, #0f0f0f); /* Standard syntax (must be last) */
border-bottom: 15px solid #0f0f0f;
}

#social {
color: #c9e19d;
font-size: 18px;
text-transform: uppercase;
padding-top: 160px;
}
/* Designed & Developed by Lisa W. Crawford for Cambrian Environmental */